<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CASC Skeleton</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/Content/theming.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark navbar-master">
        @Html.ActionLink("CASC", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    @Html.ActionLink("Dashboard", "Index", "Dashboard", new { area = "" }, new { @class = "nav-link nav-link-a" })
                    <span class="nav-link nav-link-span dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </span>
                    <div class="dropdown-menu">
                        @Html.ActionLink("Home", "Index", "Dashboard", new { sub = "Home", area = "" }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Institutions", "Index", "Dashboard", new { sub = "Inst", area = "" }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Users", "Index", "Dashboard", new { sub = "Users", area = "" }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Roles", "Index", "Dashboard", new { sub = "Roles", area = "" }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Groups", "Index", "Dashboard", new { sub = "Groups", area = "" }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Permissions", "Index", "Dashboard", new { sub = "Perm", area = "" }, new { @class = "dropdown-item" })
                    </div>
                </li>
                @*@Html.Partial("_UserMenus")*@
            </ul>
            <div class="form-inline my-2 my-lg-0">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>

    <main role="main">
        <nav class="navbar navbar-dark navbar-subpage color-bg-rv">
            <span class="navbar-brand mb-0 h1">@ViewBag.Title</span>
            <div class="form-inline">
                <div class="form-inline btn-group mr-2" role="group" aria-label="First group">
                    @*<button type="button" class="btn btn-sm btn-outline-light" href="javascript:void(0);" onclick="history.go(-1);">< Back</button>
                        @Html.ActionLink("<< List", "Index", "Dashboard", new { sub = "Users" }, new { @class = "btn btn-sm btn-outline-light" })*@
                </div>
            </div>
        </nav>
        @RenderBody()
    </main>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/cusFunctions.js"></script>
</body>
</html>
