@model CascBasic.Models.LoginModel

@{
    ViewBag.Title = "Log in";
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/login.css" rel="stylesheet" />
<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<div class="wrapper">

    @if (TempData["alert"] != null)
    {
        <div class="alert alert-dismissible @TempData["alertClass"]" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>@TempData["alertHead"]</strong>
            @TempData["alertMessage"]
        </div>
    }

  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <!--div class="fadeIn first">
      <img src="~/Content/media/images/logo.jpg"  id="icon" alt="User Icon" >
    </div -->
    <!-- Login Form -->
    <div>
    @using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        <fieldset id="socialLoginList">
            <legend><span><small>Raven Sign in</small></span><span style="float:right;"><img src="~/Content/media/images/raven-logo-small.gif" /></span></legend>
            <p>
                If you have a Raven account then please click below to login
                <input type="submit" name="provider" value="Raven" title="Log in using your Raven account"/>
            </p>
        </fieldset>
    }              
    </div>
    <span><legend><small>Registered user</small></legend> </span>
    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "",new { @class = "text-danger" })
        @Html.ValidationMessageFor(m => m.UserName)
        @Html.ValidationMessageFor(m => m.Password)
                
        @Html.TextBoxFor(m => m.UserName, new { @placeholder = "login", required="required" })

        @Html.PasswordFor(m => m.Password, new { @placeholder = "password", required="required" })
        <input type="submit" value="Login">
    }

    <!-- Register -->
    <div id="formFooter">
      @Html.ActionLink("Register", "Register") if you don't have an account.
    </div>

  </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
