@model CascBasic.Models.ViewModels.DashboardViewModel

<link href="~/Content/dashboard.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<script src="~/Scripts/jquery-3.3.1.min.js"></script>

@if (!string.IsNullOrEmpty(Model.Message))
{
    <div class="alert alert-@Model.Code alert-dismissible fade show" role="alert">
        <h4 class="alert-heading">@Model.Head!</h4>
        <p style="white-space: pre-line">@Model.Message</p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<nav class="navbar navbar-light navbar-subpage">
    <span class="navbar-brand mb-0 h1">Dashboard</span>
    @*<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#dashboardLinks" aria-controls="dashboardLinks" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>*@
</nav>
<div class="container-fluid">
    <div class="row">
        <nav class="col d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky" id="dashboardLinks">
                <ul class="nav flex-column dash-links navbar-nav mr-auto">
                    <li class="nav-item">
                        <div class="nav-link" data-view="Home">
                            <i class="material-icons">home</i>
                            <span>Home</span>
                            <span class="sr-only">(current)</span>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link" data-view="Users">
                            <i class="material-icons">person</i>
                            <span>Users</span>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link" data-view="Groups">
                            <i class="material-icons">group</i>
                            <span>Groups</span>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link" data-view="Roles">
                            <i class="material-icons">security</i>
                            <span>Roles</span>
                        </div>
                    </li>
                    <li class="nav-item" hidden>
                        <a class="nav-link" href="#" data-view="Reports">
                            <i class="material-icons">assignment</i>
                            <span>Reports</span>
                        </a>
                    </li>
            </div>
        </nav>

        <div id="alertPlaceholder"></div>
        <div class="main col-md-9 ml-sm-auto col-lg-10 px-4">
            @{Html.RenderPartial("Loader");}
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var link = '@Url.Action(Model.PartialView, "Dashboard")';
        var p = $('.dash-links');

        $.ajax({
            type: "get",
            url: link,
            success: function (d) {
                /* d is the HTML of the returned response */
                $('.main').html(d); //replaces previous HTML with action
                p.find('.nav-link').each(function () {
                    $(this).removeClass('active');
                    if ($(this).data('view') =="@Model.PartialView") {
                        $(this).addClass("active");
                    }
                });

            }
        });
    });


    $(function () {
        $('.nav-link').click(function () {
            var e = $(this);
            var p = $('.dash-links');

            var view = e.data('view');
            var link = '@Url.Action("partialView", "Dashboard")';
            link = link.replace("partialView", view);

            $.ajax({

                type: "get",
                url: link,
                success: function (d) {
                    /* d is the HTML of the returned response */
                    $('.main').html(d); //replaces previous HTML with action
                    p.find('.nav-link').each(function () {
                        $(this).removeClass('active');
                    });
                    e.addClass("active");
                }
            });
        });
    });


</script>