@model IEnumerable<CascBasic.Models.ViewModels.InstViewModel>

<style>
    #roleForm {
        padding: 15px 10px 0px 15px;
    }
</style>
<div class="subpage-container">
    <div class="subpage-container-up">
        <h4>Institutions</h4>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                @*@Html.ActionLink("Add new", "Create", "Institution", null, new { @class = "btn btn-sm btn-outline-success" })*@
                <button type="button" class="btn btn-sm btn-outline-success" id="instFromApi" data-toggle="collapse" href="#instFromLookup" role="button" aria-expanded="false" aria-controls="instFromLookup">From Lookup</button>
                <button type="button" class="btn btn-sm btn-outline-success" id="instFormBtn" data-toggle="collapse" href="#instFormCollapse" role="button" aria-expanded="false" aria-controls="instFormCollapse"><i class="material-icons md-18">add_circle_outline</i>new form</button>
            </div>
        </div>
        <div class="dash-sub dash-sub-text">
            <div class="collapse" id="instFromLookup">
                <div class="card card-body">
                    @using (Html.BeginForm("CreateFromApi", "Institution", FormMethod.Post, new { enctype = "multipart/form-data", id = "createInstForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col col-2">
                                <input type="text" name="query" placeholder="search name" class="form-control form-control-sm" required />
                            </div>
                            <div class="col col-2">
                                <button type="submit" class="btn btn-sm btn-outline-success">Go</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="collapse" id="instFormCollapse">
                <div class="card card-body">
                    @using (Html.BeginForm("Create", "Institution", FormMethod.Post, new { enctype = "multipart/form-data", id = "createInstForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-3">
                                <dl class="row">
                                    <dt class="col-sm-3">Campus</dt>
                                    <dd class="col-sm-9">
                                        <input type="text" name="Campus" placeholder="Campus code" class="form-control form-control-sm" required />
                                    </dd>

                                    <dt class="col-sm-3">Name</dt>
                                    <dd class="col-sm-9"><input type="text" name="Name" placeholder="Name" class="form-control form-control-sm" required /></dd>

                                    <dt class="col-sm-3">College</dt>
                                    <dd class="col-sm-9"><input type="text" name="CollegeName" placeholder="College name" class="form-control form-control-sm" /></dd>
                                </dl>
                            </div>
                            <div class="col-3">
                                <dl class="row">
                                    <dt class="col-sm-3">Email</dt>
                                    <dd class="input-group input-group-sm col-sm-9">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="email-addon"><i class="material-icons md-18">email</i></span>
                                        </div>
                                        <input type="email" name="ZEmail" placeholder="Email" class="form-control form-control-sm" />
                                    </dd>
                                    <dt class="col-sm-3">Phone</dt>
                                    <dd class="input-group input-group-sm col-sm-9">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="email-addon"><i class="material-icons md-18">phone</i></span>
                                        </div>
                                        <input type="tel" name="CollegePhone" placeholder="College phone" class="form-control form-control-sm" />

                                    </dd>
                                    <dt class="col-sm-3">FAX</dt>
                                    <dd class="input-group input-group-sm col-sm-9">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="email-addon"><i class="material-icons md-18">print</i></span>
                                        </div>
                                        <input type="tel" name="CollegeFax" placeholder="College FAX" class="form-control form-control-sm" />
                                    </dd>

                                </dl>
                            </div>
                            <div class="col-4">
                                <dl class="row">
                                    <dt class="col-sm-4">Charity number</dt>
                                    <dd class="col-sm-8"><input type="text" name="CollegeCharityNumber" placeholder="Charity code" class="form-control form-control-sm" /></dd>

                                    <dt class="col-sm-4">VAT number</dt>
                                    <dd class="col-sm-8"><input type="text" name="CollegeVATnumber" placeholder="VAT number" class="form-control form-control-sm" /></dd>

                                    <dt class="col-sm-4">Welcome message</dt>
                                    <dd class="col-sm-8"><input type="text" name="WelcomeMsg" placeholder="Welcome message" class="form-control form-control-sm" /></dd>
                                </dl>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-3">
                                <dl class="row">
                                    <dt class="col-3">Photo</dt>
                                    <dd class="col-9"><input type="file" name="instPhoto" id="instPhoto" alt="Institution photo" accept="image/*" /> </dd>
                                </dl>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-sm btn-outline-success">create</button>
                    }
                </div>
            </div>


            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        </div>
    </div>
    <div class="subpage-container-down">
        <h5>
            <span>Current list</span>
        </h5>
        <div class="dash-sub dash-sub-detail">
            <div class="coll-card-deck">
                @foreach (var inst in Model)
                {

                <div class="coll-card anim-sm" onclick="location.href='/Institution/Manage/@inst.Id';">
                    <div class="coll-card-head">
                        @if (inst.Crest)
                        {
                            <img class="img-md" src="/Institution/GetCrest/@inst.Id" alt="@inst.Name" />
                        }
                        else
                        {
                            <img class="img-md" src="/Content/media/images/no_photo.png" alt="@inst.Name" />
                        }

                        <span class="h5">@inst.Campus</span>
                    </div>
                    <div class="coll-card-body">                        
                        <h6>@inst.Name</h6>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>    
</div>