@model IEnumerable<CascBasic.Models.ViewModels.RoleViewModel>

<style>
    #roleForm {
        padding: 15px 10px 0px 15px;
    }
</style>
<div>
    <h4>Roles</h4>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-outline-success" id="roleFormBtn" data-toggle="collapse" href="#roleFormCollapse" role="button" aria-expanded="false" aria-controls="roleFormCollapse"><i class="material-icons md-18">add_circle_outline</i>Add new</button>
        </div>
    </div>
    <div class="dash-sub dash-sub-text">
        <div class="collapse" id="roleFormCollapse">
            <div class="card card-body">
                @using (Html.BeginForm("CreateRole", "Permissions", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-row">
                        <div class="col col-md-2">
                            <input type="text" class="form-control form-control-sm" name="Name" placeholder="Role name" required>
                        </div>
                        <div class="col col-md-4">
                            <input type="text" class="form-control form-control-sm" name="Description" placeholder="Role description" style="max-width:100%;">
                        </div>
                        <div class="col col-md-1">
                            <button type="submit" class="btn btn-sm btn-outline-success">Add</button>
                        </div>
                    </div>
                }
            </div>
        </div>
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
    </div>
    <h5>List</h5>
    <div class="dash-sub dash-sub-detail">
        <div class="table-responsive">
            <table class="table table-striped table-sm" id="dash-roles-tbl">
                <thead>
                    <tr>
                        <th width="16%">Name</th>
                        <th>Description</th>
                        <th width="10%">Groups</th>
                        <th width="10%">Users</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var role in Model)
                    {
                    <tr>
                        <td>@role.Name</td>
                        <td>@role.Description</td>
                        <td><span class="badge badge-pill badge-secondary">@role.GroupsCount</span></td>
                        <td><span class="badge badge-pill badge-secondary">@role.UsersCount</span></td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>