@model CascBasic.Models.ViewModels.ChangePasswordViewModel

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="modal-header">
        <h5 class="modal-title">Change login password...</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <input type="text" value="@Model.Id" name="Id" hidden />
        <dl class="row">
            <dt class="col-sm-3">@Html.LabelFor(m => m.OldPassword)</dt>
            <dd class="col-sm-9">@Html.PasswordFor(m => m.OldPassword, new { @placeholder = "current password", @class = "form-control form-control-sm", required = "required" })</dd>

            <dt class="col-sm-3">@Html.LabelFor(m => m.NewPassword)</dt>
            <dd class="col-sm-9">@Html.PasswordFor(m => m.NewPassword, new { @placeholder = "new password", @class = "form-control form-control-sm", required = "required" })</dd>

            <dt class="col-sm-3">@Html.LabelFor(m => m.ConfirmPassword)</dt>
            <dd class="col-sm-9">@Html.PasswordFor(m => m.ConfirmPassword, new { @placeholder = "confirm new password", @class = "form-control form-control-sm", required = "required" })</dd>

        </dl>
    </div>
    <div class="modal-footer">
        <input type="submit" class="btn btn-sm btn-outline-success" value="Save" />
        <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal">Cancel</button>
    </div>
}